<div class="panel-body">
	{{meme-item content=content}}
</div>
<div class="panel-footer">
	{{#if content.isMine}}
	{{#link-to 'meme.edit' content}}
	<button type="button" class="btn" aria-label="Left Align">
	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	</button>
	{{/link-to}}
	<button type="button" class="btn" aria-label="Left Align" {{action 'deleteMeme' content}}>
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
	</button>
	{{/if}} '
	<button type="button" class="btn {{if content.likedByMe 'liked'}}" aria-label="Left Align" {{action 'toggleLike' content}}>
	<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
	<span class='badge'>{{content.likes}}</span>
	</button>
	<span class="label label-info">Created by {{content.user.name}}</span>
</div>